# IDE / Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json
*.user
*.suo
*.sln.user
*.userosscache
*.sln.docstates

# Build Results
[Bb]in/
[Oo]bj/
[Oo]ut/
publish/
TestResults/
*.TestResults

# Windows/Mac specifics
Thumbs.db
.DS_Store

# ReSharper / JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Nuget
packages/
*.nupkg

# Claude harness
.claude/

# Temporary files
*.swp
*.~*
*.tmp
*.bak
